<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://www.bicyclesuperstore.com.au/cdn/shop/files/mid-year-bike-clearance-banner-mobile_x800.jpg?v=1687398718" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
        height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to BIKE STORE APP</h1>
      <p class="lead">We offer a great user experience for Bike Production and sales
      team to submit their Bike production and sales details to portal. A common interface for both
      roles to produce and sell the bikes.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" routerLink="/home/customer" class="btn btn-primary btn-lg px-4 me-md-2">Customer</button>
        <button type="button" routerLink="/home/store" class="btn btn-outline-secondary btn-lg px-4">Store</button>
      </div>
    </div>
  </div>
</div>
