<div class="d-flex justify-content-between">
  <h4>Categories</h4>
  <button *ngIf="role === 'Admin'" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Category</button>
</div>
<hr>
<ngx-table [data]="data" [configuration]="configuration" [columns]="columns">
  <ng-template let-row let-index="index">
    <td> {{row.categoryId}}</td>
    <td> {{row.categoryName}}</td>
    <td *ngIf="role === 'Admin'">
      <button data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onEdit(row)"
        class="btn btn-outline-primary"><i class="fa fa-edit"></i></button>
    </td>
  </ng-template>
</ngx-table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 *ngIf="isEditMode" class="modal-title fs-5" id="exampleModalLabel">Update Category</h1>
        <h1 *ngIf="!isEditMode" class="modal-title fs-5" id="exampleModalLabel">Add Category</h1>
        <button type="button" id="btn-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="categoryForm" class="row g-3">
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Category Name</label>
            <input formControlName="categoryName" type="text" class="form-control">
          </div>
          <div class="col-12">
            <button *ngIf="isEditMode" [disabled]="categoryForm.invalid" (click)="updateCategory()" type="submit"
              class="btn btn-primary">Update
              changes</button>
            <button *ngIf="!isEditMode" [disabled]="categoryForm.invalid" (click)="addCategory()" type="submit"
              class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
